<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("comuns/head.ejs",{title:title}) %>
  </head>

  <body>

    <%- include("comuns/menu.ejs",{tipo:"contatos"}) %>


    <div class="container-fluid">
      <div class="row-fluid">
        <p>Entre em contato no nosso telefon (xx)xxxx xxxx.</p>
      </div><!--/row-->

      <hr>

      <%- include("comuns/footer") %>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- include("comuns/javascript") %>
    

  </body>
</html>

