<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("comuns/head.ejs",{title:title}) %>
  </head>

  <body>

    <%- include("comuns/menu.ejs",{tipo:"home"}) %>

    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="hero-unit">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
          </div>
      </div><!--/row-->

      <hr>

      <%- include("comuns/footer") %>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- include("comuns/javascript") %>


  </body>
</html>

