<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("comuns/head",{title:"Cadastrar Tipos"}) %>
  </head>

  <body>

    <%- include("comuns/menu",{tipo:"tipos"}) %>

    <div class="container-fluid">
      <div class="row-fluid">
        <form action="/tipos/cadastrar" method="post" onSubmit="return validarTipos()">

          <table class="formulario">
            <tr>
              <td class="rotulo">Tipos</td>
              <td><input type='text' id="tipo" name='tipo'/></td>
            </tr>
          </table>
          <input type='submit' name='OK' value='enviar'/>

        </form>

      </div><!--/row-->

      <hr>

      <%- include("comuns/footer") %>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- include("comuns/javascript") %>


  </body>
</html>

