body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.formulario{
	width:600px;
}
.formulario .rotulo{
	text-align: right;
	padding-right: 10px;
}

.registros,.registros tr,.registros tr td{
	border: 1px solid #000;
	padding:2px;
}
.registros{
	width: 600px;
}
.registros tr.header{
	background-color: #000;
	color: #fff;
}
.registros .alterar, .registros .excluir{
	width: 50px;
}